<%= form_for [:items, @event] do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :item do |f_item| %>
    <p>
      <%= f_item.label :title %><br/>
      <%= f_item.text_field :title %>
    </p>
    <p>
      <%= f_item.check_box :published %>
      <%= f_item.label :published %>
    </p>
  <% end %>
 
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
 
  <p><%= f.submit "Create" %></p>

<% end %>